<h3 ng-class="{loadingbar:loading}"><a href="#/home">Guestbook</a> <span ng-show="title"> => {{title}}</span></h3>

<div class="row">
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>ID</td>
				<td>{{comment.ID}}</td>
			</tr>
			<tr>
				<td>Created</td>
				<td>{{comment.Created|moment:'YYYY-MM-DD HH:mm:ss'}}</td>
			</tr>
			<tr>
				<td>Author</td>
				<td>{{comment.Author}}</td>
			</tr>
			<tr>
				<td>Content</td>
				<td>{{comment.Content}}</td>
			</tr>
		</tbody>
	</table>
</div>

<a href="#/message/view/{{comment.Message.ID}}" class="btn btn-default">back</a>
<a href="#/comment/edit/{{comment.ID}}" class="btn btn-primary">edit</a>
<a href="#/comment/delete/{{comment.ID}}" class="btn btn-danger">delete</a>

