<h3 ng-class="{loadingbar:loading}"><a href="#/home">Guestbook</a> <span ng-show="title"> => {{title}}</span></h3>

<div class="row">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>ID</td>
            <td>{{comment.ID}}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{comment.Created|moment:'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{comment.Author}}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{comment.Content}}</td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Are you sure?</h3>

<a href="#/message/view/{{message.ID}}" class="btn btn-default">NO</a>
<button ng-click="deleteComment()" class="btn btn-danger">YES</button>
